

.nutrient-button{
    background: #A7D489;
    border-width: 2px;
    border: "none";
    padding: 16px 0;
    border-radius: 8px;
    width: 100%;
    font-family:"Andale Mono", monospace;    
    font-size: 24px;
    border: none;
}

.button-clicked {
    background-color: #D9D9D9;
  }