.recipe-card-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
    grid-gap: 30px;
    margin: 30px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
}