.nutrients-display{
    font-size: 36px;
    margin: 0px;
    padding: 0px;
    margin-left: 35px;
    font-family: 'georgia';
}

.results{
    font-size: 28px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 35px;
    font-family: 'georgia';
}

.display-bar{
    display: flex;
    justify-content: space-between;
}

.sort-bar{
    display: flex;
    margin-top: 15px;
    margin-right: 35px;
    font-size: 0px;
}