.recipe-card-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
    grid-gap: 30px;
    margin: 30px;
    justify-content: space-between;
}

.results{
    font-size: 28px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 35px;
    font-family: 'georgia';
}

.nutrients-display{
    font-size: 36px;
    margin: 0px;
    padding: 0px;
    margin-left: 35px;
    font-family: 'georgia';
}


